In [1]:
import os
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [68]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

# NASA Mars News

In [42]:
mars_news_url = 'https://redplanetscience.com/'
browser.visit(mars_news_url)

In [43]:
html = browser.html
mars_soup = bs(html, 'html.parser')

In [44]:
mars_title = mars_soup.find('div', class_='content_title').text.strip()
print(mars_title)

Mars Scientists Investigate Ancient Life in Australia

In [45]:
mars_para = mars_soup.find('div', class_='article_teaser_body').text.strip()
print(mars_para)

Teams with NASA's Mars 2020 and ESA's ExoMars practiced hunting for fossilized microbial life in the Australian Outback in preparation for their Red Planet missions.

In [46]:
browser.quit()

# JPL Mars Space Images—Featured Image

In [51]:
mars_pic_url = 'https://spaceimages-mars.com/'
browser.visit(mars_pic_url)

In [52]:
html = browser.html
mars_soup = bs(html, 'html.parser')

In [58]:
featured_image_url = mars_soup.find('img', class_='headerimage fade-in').get("src")
featured_image_url

'image/featured/mars3.jpg'

In [60]:
full_image_url = mars_pic_url + featured_image_url
full_image_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

In [61]:
print(full_image_url)

https://spaceimages-mars.com/image/featured/mars3.jpg

In [62]:
browser.quit()

# Mars Facts

In [48]:
mars_facts_url = 'https://galaxyfacts-mars.com/'

In [49]:
mars_table_url = pd.read_html(mars_facts_url)

In [50]:
mars_table_url

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [ ]:
# Create Mars Facts dataframe
mars_table_df = mars_table_url[0]

In [ ]:
# Rename columns to first row data
mars_table_df = mars_table_df.rename(columns=mars_table_df.iloc[0])

In [ ]:
# Drop first row data
mars_table_df = mars_table_df.drop([0])

In [ ]:
# Set index of the table
mars_table_df = mars_table_df.set_index('Mars - Earth Comparison')

In [ ]:
# Remove the index name
mars_table_df.index.name = None

In [64]:
# Database
mars_table_df

                               Mars            Earth
Diameter:                  6,779 km        12,742 km
Mass:               6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                            2                1
Distance from Sun:   227,943,824 km   149,598,262 km
Length of Year:      687 Earth days      365.24 days
Temperature:           -87 to -5 °C      -88 to 58°C

In [65]:
# Convert to HTML table
html_table = mars_table_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [66]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars</th>      <th>Earth</th>    </tr>  </thead>  <tbody>    <tr>      <th>Diameter:</th>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>Moons:</th>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>Distance from Sun:</th>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>Length of Year:</th>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>Temperature:</th>      <td>-87 to -5 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

In [67]:
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars</th>
      <th>Earth</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Diameter:</th>
      <td>6,779 km</td>
      <td>12,742 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg</td>
      <td>5.97 × 10^24 kg</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Distance from Sun:</th>
      <td>227,943,824 km</td>
      <td>149,598,262 km</td>
    </tr>
    <tr>
      <th>Length of Year:</th>
      <td>687 Earth days</td>
      <td>365.24 days</td>
    </tr>
    <tr>
      <th>Temperature:</th>
      <td>-87 to -5 °C</td>
      <td>-88 to 58°C</td>
    </tr>
  </tbody>
</table>

# Mars Hemispheres

In [75]:
hemis_url = "https://marshemispheres.com/"

In [82]:
browser.visit(hemis_url)

In [83]:
html = browser.html
mars_soup = bs(html, 'html.parser')

In [80]:
#parse the landing page, isolate the image links in the item div
hemi_links = mars_soup.find_all("div", class_ = "item")

#create a list for the names and image links
hemispheres = []

#loop thru each link and grab the name and full size image
for link in hemi_links:
    #dictionary to hold the name/link pairs
    hemi_dict = {}
    img_link = link.find("img", class_ = "thumb").get("src")
    #add the base url
    base_url = "https://marshemispheres.com/"
    visit_link = base_url + img_link
    
    #add to dictionary as hemi_img_name, hemi_img_url
    hemi_dict['hemi_img_name'] = img_name
    hemi_dict['hemi_img_url'] = base_url + img_link
    hemi_dict['hemi_source_url'] = visit_link
    #put dictionary into hemi_img_urls
    hemispheres.append(hemi_dict)
    browser.back()

In [81]:
hemispheres

[{'hemi_img_name': 'Valles Marineris Hemisphere Enhanced',
  'hemi_img_url': 'https://marshemispheres.com/images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png',
  'hemi_source_url': 'https://marshemispheres.com/images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png'},
 {'hemi_img_name': 'Valles Marineris Hemisphere Enhanced',
  'hemi_img_url': 'https://marshemispheres.com/images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png',
  'hemi_source_url': 'https://marshemispheres.com/images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png'},
 {'hemi_img_name': 'Valles Marineris Hemisphere Enhanced',
  'hemi_img_url': 'https://marshemispheres.com/images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png',
  'hemi_source_url': 'https://marshemispheres.com/images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png'},
 {'hemi_img_name': 'Valles Marineris Hemisphere Enhanced',
  'hemi_img_url': 'https://marshemispheres.com/images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png',
  'hemi_source_url': 'https://marshemispheres.com/images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png'}]

In [84]:
browser.quit()