In [91]:
import os
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [94]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

# NASA Mars News

In [ ]:
mars_news_url = 'https://redplanetscience.com/'
browser.visit(mars_news_url)

In [22]:
html = browser.html
mars_soup = bs(html, 'html.parser')

In [23]:
mars_title = mars_soup.find('div', class_='content_title').text.strip()
print(mars_title)

Nine Finalists Chosen in NASA's Mars 2020 Rover Naming Contest

In [24]:
mars_para = mars_soup.find('div', class_='article_teaser_body').text.strip()
print(mars_para)

Nine finalists have been chosen in the essay contest for K-12 students across U.S. to name NASA's next Mars rover. Now you can help by voting for your favorite.

In [25]:
browser.quit()

# JPL Mars Space Images—Featured Image

In [28]:
mars_pic_url = 'https://spaceimages-mars.com/'
browser.visit(mars_pic_url)

In [29]:
html = browser.html
mars_soup = bs(html, 'html.parser')

In [34]:
featured_image_url = mars_soup.find('div', class_='headerimage fade-in')

None

In [ ]:
# help needed on this

In [35]:
browser.quit()

# Mars Facts

In [36]:
mars_facts_url = 'https://galaxyfacts-mars.com/'

In [57]:
mars_table_url = pd.read_html(mars_facts_url)

In [58]:
mars_table_url

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [85]:
# Create Mars Facts dataframe
mars_table_df = mars_table_url[0]

# Rename columns to first row data
mars_table_df = mars_table_df.rename(columns=df.iloc[0])

# Drop first row data
mars_table_df = mars_table_df.drop([0])

# Set index of the table
mars_table_df = mars_table_df.set_index('Mars - Earth Comparison')

# Remove the index name
mars_table_df.index.name = None

# Database
mars_table_df

                               Mars            Earth
Diameter:                  6,779 km        12,742 km
Mass:               6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                            2                1
Distance from Sun:   227,943,824 km   149,598,262 km
Length of Year:      687 Earth days      365.24 days
Temperature:           -87 to -5 °C      -88 to 58°C

In [86]:
# Convert to HTML table
html_table = mars_table_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [88]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars</th>      <th>Earth</th>    </tr>  </thead>  <tbody>    <tr>      <th>Diameter:</th>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>Moons:</th>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>Distance from Sun:</th>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>Length of Year:</th>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>Temperature:</th>      <td>-87 to -5 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

# Mars Hemispheres

In [95]:
hemis_url = "https://marshemispheres.com/"

In [96]:
browser.visit(hemis_url)

In [97]:
html = browser.html
mars_soup = bs(html, 'html.parser')

In [ ]:
hemis_links = mars_soup.find('div', class_="item")

In [98]:
browser.quit()